body{
  background-color: rgb(2, 71, 73);
  font-size: 24px;
  color: white;
}

.container{
  display: flex;
  position: relative;
  right: 20px;
}

.sub-container{
  display: flex;
  position: relative;
  left: 50px;
}

.wrapper{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper h2{
  margin: 0;
}

.break-session-length{
  display: flex;
  width: 500px;
  justify-content: space-between;
}

button{
  border: none;
  padding: 8px;
  font-size: 18px;
  border-radius: 4px;
}

div > button {
  color: white;
  background-color: green;
  cursor: pointer;
}

div button:nth-child(2){
  color: white;
  background-color: green;
  cursor: pointer;
}

#break-length, #session-length{
  margin: 0 8px;
}

.timer{
  border: 5px solid #023d2b;
  height: 120px;
  border-radius: 20px;
  text-align: center;
  margin: 20px 0;
  padding-top: 20px;
}

.timer-wrapper > button {
  margin-left: 10px;
}

#session-label{
  position: relative;
  left: 60px;
}

#time-left{
  font-size: 30px;
}
